// CSS 3 Mixins 
// Handles all the silly cross-browser CSS3 intricacies and duplication, so
// other stylesheets look nice.

@mixin linear-gradient( $top, $bottom ) {
    background-image: linear-gradient( $top, $bottom );
    background-image: -moz-linear-gradient( $top, $bottom );
    background-image: -o-linear-gradient( $top, $bottom );
    background-image: -khtml-linear-gradient( $top, $bottom );
    background-image: -webkit-linear-gradient( $top, $bottom );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}');
}


@mixin box-shadow( $args ){
    box-shadow: $args;
    -moz-box-shadow: $args;
    -o-box-shadow: $args;
    -khtml-box-shadow: $args;
    -webkit-box-shadow: $args;
}


@mixin text-shadow( $args ){
    text-shadow: $args;
    -moz-text-shadow: $args;
    -o-text-shadow: $args;
    -khtml-text-shadow: $args;
    -webkit-text-shadow: $args;
}

@mixin border-radius( $args ){
    border-radius: $args;
    -moz-border-radius: $args;
    -o-border-radius: $args;
    -khtml-border-radius: $args;
    -webkit-border-radius: $args;
}
