!!! 5
%html{ lang: "en" }

  %head
    %title {{ page.title }}
    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", href: "stylesheets/style.css" }
    %link{ rel: "shortcut icon", href: "favicon.ico" }

  %body

    %header
      SSE Rapid Development Weekend X

    %nav
      %ul
        %li
          %a{ href: "index.html" } Home
        %li
          %a{ href: "crash-courses.html" } Epic Week of Crash Courses

    {{ content }}
